/*  ==============*/
/*  MONEY CHANGE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cyan;
}
.wrapper{
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background-color: white;
}
.montitre{
    font-size: 30px;
    text-align: center;
}
.wrapper main{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.wrapper form{
   margin: 40px 0 20px 0;
   
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form p{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    height: 50px;
    font-size: 15px;
    padding: 0 15px;
    border: 1px solid #f1f1f1;
}
form input:focus{
    padding: 0 14px;
    border: 2px solid aqua;
}

form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .selectDev{
    display: flex;
    height: 45px;
    width: 25px;
    align-items: center;
    justify-content: center;
    
}

.selectDev select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}

form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}
form button{
    height: 52px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: aqua;
}
#iconchange {
    
    width: 20px;
    height: 20px;
    
}
.De p{
    color: rgb(55, 194, 194);
    font-weight: bold;
}
.A p{
    color: green;
    font-weight: bold;
}


/*  ==============*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    background-color: rgb(1, 11, 29);
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.img-site {
    width: 50px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
}
.menu>ul {
    display: flex;
    gap: 30px;
}
.menu>ul>li{
    list-style: none;
    padding: 0px 0;
}

.menu>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 0px 0;
    transition: all 0.5s ease;
}

.menu>ul>li>a:hover {
    color: aquamarine;
}

#titre-page {
    font-size: 22px;
    border-bottom: 2px solid gray;
}

main {
    margin: 20px;
}

#myVideo {
    width: 100%;
  }

  #content {
      margin-right: 400px;
  }

  .text-container {
    background: rgba(0, 0, 0, 0.678);
    color: #f1f1f1;
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -250px;
  }

  .text-container>p{
      margin-bottom: 24px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background: rgb(247 224 60);;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background: rgb(197, 197, 2);
    color: black;
  }