/*  ==== */
/*  QUIZ */
/*  ==== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    background-color: rgb(1, 11, 29);
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.img-site {
    width: 50px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
}
.menu>ul {
    display: flex;
    gap: 30px;
}
.menu>ul>li{
    list-style: none;
    padding: 0px 0;
}

.menu>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 0px 0;
    transition: all 0.5s ease;
}

.menu>ul>li>a:hover {
    color: aquamarine;
}

#titre-page {
    font-size: 22px;
    border-bottom: 2px solid gray;
}

main {
    margin: 20px;
}

#myVideo {
    width: 100%;
  }

  #content {
      margin-right: auto;
  }

  .text-container {
    background: rgba(0, 0, 0, 0.678);
    color: #f1f1f1;
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -250px;
  }

  .text-container>p{
      margin-bottom: 24px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background: rgb(247 224 60);;
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background: rgb(197, 197, 2);
    color: black;
  }
#questionnaires * {
    transition: 1s;
}
#questionnaires {
    width: 700px;
    margin: 30px auto;
    font-size: large;
}
#questionnaires textarea {
    width: minmax(100px, 50%);
    border: 2px solid rgb(151, 151, 151);
    border-radius: 7px;
    padding: 10px;
}
#questionnaires hr {
    border: 1px solid grey;
    border-top: 0px;
}
#questionnaires > div {
    margin: 20px auto;
}
#questionnaires > button {
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: yellow;
    font-size: large;
    margin: auto;
    display: block;
}
#questionnaires > button:hover {
    background-color: black;
    color: white;
}
#questionnaires .uncompleted {
    color: rgb(150, 50, 50);
}