/*  ==== ====== */
/*  NAVBAR */
/*  ========= */



/*  ============= */
/*  PAGE  CHRONO*/
/*  ===========  */

#demarrer {
    background-color: green;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: bold;
}


#pause {
    background-color: rgb(2, 2, 155);
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: bold;
}

#reinitialiser {
    background-color: red;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: bold;
}

#demarrer:hover {
    background-color: rgb(1, 87, 1);
}


#pause:hover {
    background-color: rgb(1, 1, 63);
}

#reinitialiser:hover {
    background-color: darkred;
}