/*  ==== ====== */
/*  HOME PAGE */
/*  ========= */

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    background-color: rgb(1, 11, 29);
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.img-site {
    width: 50px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
}
.menu>ul {
    display: flex;
    gap: 30px;
}
.menu>ul>li{
    list-style: none;
    padding: 0px 0;
}

.menu>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 0px 0;
    transition: all 0.5s ease;
}

.menu>ul>li>a:hover {
    color: aquamarine;
}

#titre-page {
    font-size: 22px;
    border-bottom: 2px solid gray;
}

main {
    margin: 20px;
}

/*  ================ */
/*  PAGE FORMULAIRE */
/*  =============== */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;  
}
.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 /35%);
}
.card-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: rgb(43, 102, 211);
    box-shadow: 2px 3px 8px #02225fc7;
    border-radius: 50px;
}
.card-header .form-header{
    flex: 50px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;  
}
.card-header .form-header.active{
    box-shadow: inset 1px 1px 2px rgba(3, 19, 88, 0.233), inset -1px 1px 2px rgba(3, 19, 88, 0.233), inset -1px -1px 2px rgba(3, 19, 88, 0.233)
    inset 1px -1px 2pxr  gba(3, 19, 88, 0.233);
    border-color: rgb(243, 237, 237);
transition:  border-color 0.3s,  box-shadow 0.3s;
}
.card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}
form{
    flex: 0 0 100%;
}
.toggleForm{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color:#ffff
}
.formButton{
    border: 1rem 3rem;
    background-color: gray;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s ;
}
.formButton:hover{
    box-shadow: 3px 5px 15px #0e2c64c7;
    transform: translate(5px);
}