/*  ==== ====== */
/*  HOME PAGE */
/*  ========= */

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    background-color: rgb(1, 11, 29);
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.img-site {
    width: 50px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
}
.menu>ul {
    display: flex;
    gap: 30px;
}
.menu>ul>li{
    list-style: none;
    padding: 0px 0;
}

.menu>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 0px 0;
    transition: all 0.5s ease;
}

.menu>ul>li>a:hover {
    color: aquamarine;
}

#titre-page {
    font-size: 22px;
    border-bottom: 2px solid gray;
}

main {
    margin: 20px;
}

/*  ================ */
/*  PAGE FORMULAIRE */
/*  =============== */


form{
    max-width: 550px;
    width: 90%;
    background-color: rgb(231, 219, 219);
    margin:17vh, auto 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 0;
}
label{
    display: block;
    margin: 20px 0;
}
input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid white;
}