/*  ==== ====== */


/*  HOME PAGE */


/*  ========= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    background-color: rgb(1, 11, 29);
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.img-site {
    width: 50px;
    border-radius: 50%;
}

.menu {
    font-weight: bold;
    display: flex;
}

#menu-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu>ul>li {
    list-style: none;
    padding: 0px 0;
}

.menu>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.menu>ul>li>a:hover {
    color: aquamarine;
}

#titre-page {
    font-size: 22px;
    border-bottom: 2px solid gray;
}

#myVideo {
    width: 100%;
}

#content {
    margin-right: 400px;
}

.text-container {
    background: rgba(0, 0, 0, 0.678);
    color: #f1f1f1;
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
    margin-top: -250px;
}

.text-container>p {
    margin-bottom: 24px;
}

main {
    margin: 20px;
}

@media screen and (min-width: 900px) {
    .icon-mobile {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #content {
        margin-top: 30px;
        margin-right: 0;
    }
    #menu-links {
        display: none;
    }
    .icon-mobile {
        margin-top: 10px;
    }
    .icon-mobile>a {
        text-decoration: none;
    }
    .icon-mobile>a>span {
        color: white;
        font-size: 35px;
    }
    .icon-mobile>a>span:hover {
        color: aquamarine;
    }
}


/*  ================ */


/*  PAGE FORMULAIRE */


/*  =============== */

.form-card {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 37);
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px black;
}

.form-title {
    color: white;
    margin: 20px 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid gray;
}

#form {
    width: 100%;
}

.form-group {
    margin: 20px 25px;
}

label {
    display: block;
    color: white;
}

.input-form {
    border-radius: 3.5px;
    width: 100%;
    height: 33px;
    background-color: lightgray;
    outline: none;
    border: 1px solid white;
    font-weight: bold;
}

.btn-form {
    background-color: green;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
    height: 36px;
    width: 100%;
    margin-top: 25px;
    font-weight: bold;
}

.btn-form:hover {
    background-color: darkgreen;
    cursor: pointer;
}

@media (min-width: 900px) {
    .form-card {
        padding: 25px;
        padding-top: 0px;
        margin: 80px 320px;
    }
}

@media (max-width: 900px) {
    .form-card {
        padding: 25px;
        padding-top: 0px;
        margin: 50px 15px;
    }
}