    /*  ==== ====== */
    /*  HOME PAGE */
    /*  ========= */
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: 100vh;
        background: linear-gradient(10deg, transparent, #60A5FA);
    }
    
    #navbar {
        background-color: rgb(1, 11, 29);
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .img-site {
        width: 50px;
        border-radius: 50%;
    }
    
    .menu {
        font-weight: bold;
    }
    
    .menu>ul {
        display: flex;
        gap: 30px;
    }
    
    .menu>ul>li {
        list-style: none;
        padding: 0px 0;
    }
    
    .menu>ul>li>a {
        text-decoration: none;
        color: white;
        padding: 0px 0;
        transition: all 0.5s ease;
    }
    
    .menu>ul>li>a:hover {
        color: aquamarine;
    }
    
    #titre-page {
        font-size: 22px;
        border-bottom: 2px solid gray;
    }
    
    header,
    form {
        min-height: 20vh;
        margin: 20px;
        text-align: center;
        font-size: 1.2rem;
    }
    
    form button {
        color: rgb(2, 2, 155);
        background-color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    form button:hover {
        color: rgb(255, 255, 1);
        background-color: rgb(1, 11, 29);
    }
    
    h1 {
        font-family: roboto, sans-serif;
        color: rgb(1, 11, 29);
    }
    
    .todo_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .todo_list {
        min-width: 50%;
        flex: 1;
        padding: .5rem 2rem;
    }
    
    .todo {
        margin: 0.2rem;
        background: white;
        color: black;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        justify-content: space-around;
        transition: all 0.1s ease;
        width: 300px;
    }
    
    .btn_mod,
    .btn_trash {
        background: #ffe100;
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.2rem 1rem;
    }
    
    .btn_mod {
        background: green
    }
    /*  ============== */
    /*  PAGE TODO LIST  */
    /*  ==============*/